nav {
  background-color: #808080;
}

a {
  background-color: #ffbf00;
  color: #ffffff;
  padding: 35px;
  display: block;
  float: left;
}

a:hover {
  background-color: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}

.board {
	height: 80%;
	width: 50%;
  display: inline-block;
  
  
}

.card {
	height: 200px;
	width: 150px;
	background-color: rgb(255,255,0);
	border: 1px rgb(0,0,0) solid;
	border-radius: 10px;
  float: left;
  margin: 8%;
}

h1 {
	color: rgb(2,132,130);
}

h2 {
	color: #ffd700;
}

footer {
  background-color: #808080;
}

h1, h2, p, footer {
  text-align: center;
}

.name {
  color: #ff0000;
}